[submodule "vendor/extensions/settings"]
	path = vendor/extensions/settings
	url = git@github.com:cheef/radiant-settings.git
[submodule "vendor/extensions/comments"]
	path = vendor/extensions/comments
	url = git@github.com:cheef/radiant-comments.git
[submodule "vendor/extensions/paginate"]
	path = vendor/extensions/paginate
	url = git@github.com:cheef/radiant-paginate-extension.git
[submodule "vendor/extensions/lazy_snippet"]
	path = vendor/extensions/lazy_snippet
	url = git@github.com:cheef/radiant-lazy-snippet-extension.git
[submodule "vendor/extensions/russian_language_pack"]
	path = vendor/extensions/russian_language_pack
	url = git@github.com:cheef/radiant-russian_language_pack-extension.git
